<% content_for :title do %>My super sweet dashboard<% end %>

<center><h3>System load and error rates</h3></center>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="tran" data-view="Graph" data-title="Transactions per minute" style="background-color:rgb(7,147,90)"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="convergence" data-view="Graph" data-title="Errors per minute" style="background-color:#ff9618"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="synergy" data-view="Meter" data-title="CPU Usage" data-min="0" data-max="100"></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="memory" data-view="Meter" data-title="Memory Usage" data-min="0" data-max="100"></div>
    </li>

    <li data-row="2" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="buzzwords" data-view="List" data-unordered="true" data-title="Top Errors" data-moreinfo="errors today"></div>
    </li>


  </ul>


</div>
